body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #c62828;
}

#reader {
    width: 320px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
    background: white;
    display: inline-block;
    border-radius: 8px;
}