body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

h2 {
    color: #c62828;
}

#reader {
    width: 300px;
    margin: auto;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
}